<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nombre: <%= character.name %> </h2>
    <h4>Edad: <%=character.age%></h4>
    <p>Peso: <%= character.weight %></p>
    <img src="<%= character.image %>" width="300px" alt="Personaje de Disney">
    <p>Historia: <%= character.history %></p>
    <span>Aparece en las peliculas:</span>
    <ul>
        <li>Uno</li>
    </ul>
    <h4>Id: <%= character.id %></h4>
    <a href="/characters/edit/<%= character.id %>"><button>Editar</button></a>
    <form method="POST" action="/characters/delete/<%= character.id %>" enctype="application/x-www-form-urlencoded">
        <button type="submit">Borrar</button>
    </form>
    <a href="/">Home</a>
</body>
</html>