<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= movie.title %></h2>
    <img src="<%= movie.image %>" alt="Foto de la película" width="300px">
    <p>Rating: <%= movie.rating %></p>
    <% if(movie.genre){ %>
        <h4>Género: <%= movie.genre.name %></h4>
    <% } else { %>
        <h4>Género: Aún no se le asigno</h4>
    <% } %>
    <p>Fecha de estreno: <%= movie.date %></p>
    <a href="/movies/edit/<%= movie.id %>"><button>Editar</button></a>
    <form method="POST" action="/movies/delete/<%= movie.id %>" enctype="application/x-www-form-urlencoded">
        <button type="submit">Borrar</button>
    </form>
    <a href="/">Home</a>
</body>
</html>